@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Huzzah!</h1>
    <p>You've arried at the geni's cave, click <a href="https://www.zoltar.com">this link</a> to steal the magic lamp for yourself!</p>
</div>
